.page1Header {
  background-color: aqua;
  background: url(../../Assets/img/BackgrounAtas.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35rem;
  padding: 2rem 0rem;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 10rem;

  .HeaderLogo {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(1.1px 1px 1px #25203fc4);
  }

  .showHeaderText {
    background-color: #7776c3;
    margin-top: 2rem;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0px;
    padding: 2rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;

    .nav-itemHeader {
      padding: 1rem 0rem;
      a {
        color: #fff !important;
      }
    }
  }

  @media all and (min-width: 1064px) {
    .showHeaderText {
      display: none !important;
    }
  }
  @media all and (max-width: 1064px) {
    .HeaderBody,
    .HeaderButton {
      display: none !important;
    }

    .ContainerHeaderLogo {
      justify-content: space-between !important;
    }
    .HeaderButton2 {
      display: block !important;
    }
  }
  .HeaderButton2 {
    justify-self: end;
    display: none;
  }
  .HeaderBody {
    .Number {
      text-align: center;
    }

    .width {
      text-align: center;
      min-width: fit-content;
    }
    .nav-itemHeader:hover {
      transform: scale(1.1);
      transition: 450ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      filter: drop-shadow(10px 5px 4px #4444dd62);
    }
  }

  button {
    background-color: #7272c0;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    border: none;
    color: #fff;
    margin-left: 2rem;
    margin-top: -2rem;
  }

  .HeaderButton2 {
    button {
      display: flex;
      position: absolute;
      justify-content: center;
      align-content: center;
      background-color: #7272c0;
      padding: 0.5rem 0.5rem;
      border-radius: 12px;
      margin-top: -0.5rem;
      margin-left: 0rem;
      right: 1rem;
      color: #fff;
    }
  }
  button:hover {
    transition: 450ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    transform: scale(1) !important;
    box-shadow: 0px 6px 12px #25203f !important;
  }
  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    width: 1rem;
    text-decoration: none;
  }

  img {
    width: 7rem;
    margin-top: -1rem;
  }
}

.Page1Body {
  height: 33rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .Page1HeaderText {
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    align-self: center;

    h1 {
      color: #25203f;
      font-size: 46px;
      line-height: 74px;
      margin: 0rem;
      font-family: "Red Hat Display", sans-serif;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      font-family: "Red Hat Display", sans-serif;
    }

    button {
      background-color: #25203f;
      padding: 13px 26px 12px;
      margin-top: 2rem;
      margin-left: 0rem;
      color: #fff;
      width: 30%;
      border-radius: 4px;
      font-family: "Red Hat Display", sans-serif;
    }

    @media all and (max-width: 425px) {
      button {
        width: 100% !important;
      }
    }

    button:hover {
      transition: 450ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      transform: scale(1) !important;
      box-shadow: 0px 12px 24px rgba(37, 32, 63, 6%);
    }
  }
}

.ButtonBattom {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 12px;
  min-height: 8rem;
  margin-bottom: -8rem;
  box-shadow: 0px 12px 24px rgba(37, 32, 63, 0.06);
  display: flex;
  align-items: center;

  p {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    /* or 133% */

    letter-spacing: 0.03em;
  }

  h1 {
    margin-left: 3rem;
  }

  .miniCard {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;

    img {
      max-width: 2.5rem;
      max-height: 2.5rem;
      margin: 1rem;
      filter: drop-shadow(2px 2px 5px #25203f81);
      // border: 3px solid rgb(255, 255, 255);
      // border-bottom: 3px solid #fff;
      // border-bottom-style: solid;
      opacity: 0.9;
      border-radius: 18px;
    }
  }

  .miniCard:hover {
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    transform: scale(1.15) !important;
    img {
      opacity: 1 !important;
    }

    color: #666181;
    p {
      font-weight: bold !important;
    }
  }
}

.ProductBody {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  text-align: center;

  .ProductHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    // background-color: red;
    h1 {
      font-family: "Red Hat Display", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 46px;
      line-height: 61px;
    }

    P {
      font-family: "Red Hat Display", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-top: -1rem;
    }

    margin-bottom: 3rem;
  }

  .CardProduct {
    background-color: #eeeeff;
    border-radius: 12px;
    padding: 2.5rem 2.5rem !important;
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 100% !important;
    transform: scale(0.97) !important;
    @media all and (min-width: 1280px) {
      flex-basis: 31.5% !important;
    }

    @media all and (min-width: 960px) and (max-width: 1279px) {
      flex-basis: 47.5% !important;
    }

    margin: 11px;

    img {
      max-width: 4.5rem;
    }

    h1 {
      font-family: "Red Hat Display", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;

      color: #25203f;
    }

    p {
      margin-top: 0.5rem;
      font-family: "Red Hat Display", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      /* or 137% */

      color: rgba(37, 32, 63, 0.65);
    }

    a {
      font-family: "Red Hat Display", sans-serif;

      text-decoration: auto;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
    }
  }
  .CardProduct:hover {
    transition: 450ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    transform: scale(1) !important;
    box-shadow: 0px 12px 24px rgba(37, 32, 63, 6%);
  }
}

.OurNetworkContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  text-align: center;

  h1 {
    font-family: "Red Hat Display", sans-serif;

    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 61px;
    /* identical to box height */

    color: #25203f;
  }

  .ContainerCountry {
    display: flex;
    justify-content: center;

    .CardCountry {
      font-family: "Red Hat Display", sans-serif;
      padding: 1.4rem 0rem;
      min-width: 9rem !important;
      // background: #aeaeb6;
      margin-bottom: -1rem;

      p {
        align-items: center;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        /* identical to box height */

        color: rgba(37, 32, 63, 0.65);
      }

      p:hover {
        color: #7272c0;
        transform: scale(1.2);
      }
      p:hover::after {
        content: "";
        display: block;
        width: 72%;
        padding-top: 3px;
        margin: 0rem auto -1.43rem;
        padding-bottom: 0.8rem;
        border-bottom: 4.5px solid #fbba32;
      }
    }

    margin-bottom: 3rem;
  }

  .ContainerButtonCountry {
    // background-color: red;
    display: flex;
    width: 100%;
    // background-color: aqua;

    justify-content: space-between;

    margin-bottom: 5rem;
    .ButtonCountry {
      margin: 0rem 0rem;
      position: relative;
      @media all and (max-width: 1024px) and (min-width: 425px) {
        width: 25%;
      }
      @media all and (max-width: 727px)and (min-width: 0px) {
        width: 50%;
      }

      button {
        padding: 0.5rem 1rem;
        min-width: max-content;
        font-weight: 600;
        font-size: 16px;
        color: #7272c0;
        line-height: 24px;
        background: #fff;
        border: 2px solid #7272c0;
        box-sizing: border-box;
        border-radius: 8px;
        width: -webkit-fill-available;
      }
      button:hover {
        background: #7272c0;
        color: #fff;
      }
      button:hover::after {
        content: "";
        width: 17px;
        height: 20px;
        bottom: -0.3rem;
        left: 44%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: absolute;
        background-color: #7272c0;
        -webkit-clip-path: polygon(
          50% 0%,
          100% 0,
          100% 35%,
          50% 70%,
          0 35%,
          0 0
        );
        clip-path: polygon(50% 0%, 100% 0, 100% 35%, 50% 70%, 0 35%, 0);
      }
    }
  }
}

.ContainerCountry::after {
  content: "";
  display: block;
  width: 90%;
  border-bottom: 1px solid #25203fad;
}
.ColorDiverent {
  color: #25203f !important;
}
.CardExplainContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 6rem;

  @media all and (min-width: 1440px) {
    .CardExplain {
      flex-basis: 22.97% !important;
      max-width: fit-content !important;
    }
  }

  @media all and (min-width: 500px) and (max-width: 1430px) {
    .CardExplain {
      flex-basis: 45% !important;
      max-width: fit-content !important;
    }
  }

  .CardExplain {
    // background-color: #7272c0;
    transform: scale(0.95) !important;
    display: flex;
    justify-content: center;

    margin: 12px !important;
    background: #ffffff;
    box-shadow: 0px 10px 24px rgba(37, 32, 63, 0.08);
    border-radius: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    .CardExplainHeader {
      background-color: #ffda7c;
      padding: 0rem 2rem;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      min-height: 5.3rem !important;
      h1 {
        font-family: "Red Hat Display", sans-serif;

        font-size: 22px;
        line-height: 29px;
        display: flex;
        align-items: center;

        color: #25203f;
      }
    }
    .left {
      text-align: right;
    }
    .center {
      text-align: center;
    }
    .CardExplainBody {
      padding: 1rem;
      border-bottom: 1px solid #25203f33;

      p {
        font-family: "Red Hat Display", sans-serif;
        font-size: 16px;
        line-height: 12px;
        color: #25203f;
        width: 100%;
      }
    }
    .CardExplainBottom {
      padding: 1rem;
      p {
        color: rgba(37, 32, 63, 0.65);
        font-family: "Red Hat Display", sans-serif;

        font-size: 16px;
        line-height: 21px;
      }
    }
    .ButtonWarp {
      display: flex;
      justify-content: center;
      margin: 1rem 0rem;

      @media all and (max-width: 768px) {
        .ButtonBuy,
        .ButtonCUSTOMIZE {
          width: 100% !important;
        }
      }

      .ButtonBuy {
        font-family: "Red Hat Display", sans-serif;
        padding: 0.5rem 2rem;
        width: 10rem;
        margin: 0rem 0.5rem;

        text-align: center;
        font-style: normal;
        font-weight: bold;
        color: #ffffff;
        font-size: 14px;
        line-height: 19px;
        background: #25203f;
        border-radius: 4px;
      }
      .ButtonCUSTOMIZE {
        font-family: "Red Hat Display", sans-serif;
        margin: 1rem 0rem;
        padding: 0.5rem 1.5rem;
        width: 10rem;
        margin: 0rem 0.5rem;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        color: #25203f;
        font-size: 14px;
        line-height: 19px;
        border: 1px solid #25203f;
        border-radius: 4px;
      }

      .ButtonCUSTOMIZE:hover,
      .ButtonBuy:hover {
        transition: 450ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
        transform: scale(1) !important;
        box-shadow: 0px 12px 24px rgba(37, 32, 63, 6%);
      }
    }
    h2 {
      font-family: "Red Hat Display", sans-serif;
      color: #2ccb58;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }

    h3 {
      font-family: "Red Hat Display", sans-serif;
      color: #25203f;
      text-decoration-line: line-through;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .CardExplain:hover {
    transition: 450ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    transform: scale(1) !important;
    box-shadow: 0px 12px 24px rgba(37, 32, 63, 6%);
  }
}

.ContainerSectionBuild {
  background: url(../../Assets/img/WeBuilt.png);
  min-height: 54rem;
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;

  margin-top: -12rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .buttonContatUs {
    background: #25203f;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    margin-left: 1rem;
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin-left: 4.5rem;
  }

  @media all and (max-width: 425px) {
    .buttonContatUs {
      width: 100% !important;
      margin-bottom: 2rem;
    }
  }
  .buttonContatUs:hover {
    transition: 450ms cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    transform: scale(1) !important;
    box-shadow: 0px 12px 24px rgba(37, 32, 63, 6%);
  }

  .SectionBuildBody {
    // background-color: #2ccb58;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10rem;

    h1 {
      font-family: "Red Hat Display", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 61px;
      /* identical to box height */

      color: #25203f;
    }
    .leftCard{
      // margin-right: -5rem !important;
    }
    .SecBuildCard {
      padding: 1rem;
      margin: auto;
      // background-color: #25203f;
      transform: scale(1);
      
      img{
        max-width: 5rem;
        position: absolute;
        left: -3rem;
        top: 2.2rem;
      }
      h3 {
        font-family: "Red Hat Display", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        color: #25203f;
      }
      p {
        font-family: "Red Hat Display", sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* or 137% */

        color: rgba(37, 32, 63, 0.65);
      }
    }
  }
}
.ContainerLocationWarp {
  // background-color: rebeccapurple;
  padding: 2rem;

  @media all and (max-width: 1020px) {
    .OurLocationWarp,
    .ContainerkiriLocation {
      padding: 0rem !important;
    }

    .imgLocationCostum {
      transform: scale(0) !important;
    }
  }

  .OurLocationWarp {
    padding: 6rem;
    min-height: 40rem !important;
    .downBottom {
      padding-top: 5rem !important;
    }
    .containerKananLocation {
      padding: 2rem;
      position: relative;
      .imgLocationCostum {
        position: absolute;
        z-index: -10;
        margin-left: -10rem;
        margin-top: 5rem;
        transform: scale(0.8);
        width: -webkit-fill-available;
      }
      h1 {
        margin-bottom: 5rem;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 61px;
        font-family: "Red Hat Display", sans-serif;
      }

      .KananBody {
        // background: url(../../Assets/img/Locations.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;

        .LocationCard {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          .CardInside {
            // background-color: #2ccb58;
            height: 100%;
            min-height: 13rem !important;
            width: 100%;
            border-radius: 12px;
            border: 4px solid rgba(109, 78, 155, 0.1);
            transform: scale(0.9);
            padding-bottom: 2rem;
            padding-top: 1rem;
            img {
              margin-bottom: -2rem;
            }

            a {
              margin-bottom: 3rem;
            }
            h3 {
              text-align: center;
            }
          }

          transform: scale(0.9);
          box-sizing: border-box;
          border-radius: 12px;
          background: #ffffff;
          box-shadow: 0px 10px 24px rgba(63, 59, 86, 0.08);
          border-radius: 12px;

          h2 {
            font-family: "Red Hat Display", sans-serif;

            color: #7272c0;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
          }
          h3 {
            font-family: "Red Hat Display", sans-serif;

            color: #000000;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
          }
          a {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            font-family: "Red Hat Display", sans-serif;
            color: #7272c0;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.ContainerkiriLocation {
  padding-left: 6rem;
  padding-top: 3.8rem;

  .WapSec {
    margin-top: 4rem !important;
  }
  .IconSocial {
    // background-color: #25203f;

    color: rgba(63, 59, 86, 0.8);
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: center;
    h4 {
      margin-right: 2rem;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
    img {
      // max-width: 4rem;
      width: 1.1rem;
      height: 1rem;
      margin: 0.5rem;
    }
  }
  .ContactWarper {
    h1 {
      color: #25203f;
      font-style: normal;
      font-family: "Red Hat Display", sans-serif;
      font-weight: bold;
      font-size: 46px;
      line-height: 61px;
    }
    h3 {
      font-family: "Red Hat Display", sans-serif;

      color: rgba(63, 59, 86, 0.8);
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
    input {
      padding: 0.8rem 1.5rem;
      border-radius: 4px;
      border: 1px solid gray;
      margin-right: 2rem;
    }

    .ButtonSignUp {
      padding: 0.8rem 2rem;
      font-family: "Red Hat Display", sans-serif;
      border: none;
      background: #25203f;
      font-size: 14px;
      line-height: 19px;
      border-radius: 4px;
      color: #ffffff;
    }
    .conatact {
      display: flex;
      align-items: center;
      h5 {
        color: #25203f;
        font-family: "Red Hat Display", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-right: 3rem;
        margin: 1rem 3rem 1rem 0rem;
      }
      p {
        font-family: "Red Hat Display", sans-serif;
        margin: 1rem 3rem 1rem 0rem;

        color: #25203f;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
.footerContainer {
  border-top: 1px solid rgba(128, 128, 128, 0.432);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  font-family: "Red Hat Display", sans-serif;
  background-color: #fff;
  line-height: 24px;
  color: #25203f;
  margin-top: 5rem;
  a {
    text-decoration: none;
    min-width: fit-content !important;
  }

  .FooterA {
    padding: 0rem !important;
    max-width: 10.333333%;
    flex-basis: 10%;
  }
  .FooterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 1024px) {
    .FooterA {
      max-width: none !important;
      flex-basis: auto !important;
    }

    .FooterContainer {
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }
  }
}
